{% extends 'layout.twig' %}

{% block body %}

    <header>
        <h1>{{title}}</h1>
    </header>

    <div id="compte">

        <fieldset class="page" id="login">
            <legend>Connexion</legend>
            <form action="/login" id="createAccount" method="post">

                <img
                alt="logo swap-live" src="/images/icone_swap.png">

                <!-- <label for="email">Email:</label> -->
                <input
                class="input" name="email" placeholder="email@mail.fr" required type="email" value="">

                <!-- <label for="password">Password:</label> -->
                <input class="input" name="password" placeholder="azerty123" required type="password" value="">
                <input type="submit" value="Valider">
            </form>
        </fieldset>
    </div>

    <div class="page" id="conversations"></div>

    <script src="/javascript/app.js"></script>

{% endblock %}
