{% extends 'layout.twig' %}

{% block body %}
    <h1>Discussions</h1>
    <ul id="conversations">
        {% for msg in tchat.messages %}
            <li>
                <span>{{ msg.createdDate }}</span>
                <span>{{ msg.pseudo }}</span>
                <span class="avatar"><img src="{{ msg.avatar }}"/></span>
                <span>{{ msg.msg }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}