{% extends 'layout.twig' %}

{% block body %}

<header>
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
</header>

<div id="compte">

  <fieldset id="login" class="page">
    <legend>Création du compte utilisateur</legend>
    <form id="createAccount" method="post" action="/users/">

      <img src="/images/icone_swap.png" alt="logo swap-live">

      <!-- <label for="lastName">Nom:</label> -->
      <input class="input" type="text" name="lastName" value="" placeholder="Votre nom" required>

      <!-- <label for="name">Prénom:</label> -->
      <input class="input" type="text" name="name" value="" placeholder="Votre prénom" required>

      <!-- <label for="email">Email:</label> -->
      <input class="input" type="email" name="email" value="" placeholder="email@mail.fr" required>

      <!-- <label for="password">Password:</label> -->
      <input class="input" type="password" name="password" value="" placeholder="azerty123" required>

      <a href="/conversations.twig"><input type="submit" value="Valider"></a>
    </form>
  </fieldset>
</div>

<div id="conversations" class="page"></div>

<script src="/javascript/app.js"></script>

{% endblock %}