{% extends 'layout.twig' %}

{% block body %}

    <header>
        <h1>{{title}}</h1>
        <p>Welcome to
            {{title}}</p>
    </header>

    <div id="compte">

        <fieldset class="page" id="login">
            <legend>Connectez-vous</legend>
            <img alt="logo swap-live" src="/images/icone_swap.png">
            <a href="/connexion"><input type="submit" value="Connexion"></a>
            <a href="/createCompte"><input type="submit" value="Créer un compte"></a>
        </fieldset>
    </div>

    <div class="page" id="conversations"></div>

    <script src="/javascript/app.js"></script>

{% endblock %}
