{% extends 'layout.twig' %}

{% block body %}
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<fieldset id="login" class="page">
  <legend>Création du compte utilisateur</legend>
  <form id="createAccount" method="post" action="/users/">
    <img src="/images/avatar.jpeg"> <br>
    nom:<br>
    <input type="text" name="lastName" value="" placeholder="votre Nom" required> <br>
    prénom:<br>
    <input type="text" name="name" value="" required> <br>
    Email:<br>
    <input type="email" name="email" value="" required> <br>
    password:<br>
    <input type="password" name="password" value="" required> <br>

    <input type="submit" value="Valider">
  </form>
</fieldset>

    <div id="conversations" class="page"></div>
    <script src="/javascript/app.js"></script>
{% endblock %}
