{% extends 'layout.twig' %}

{% block body %}

<header>
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
</header>

<div id="compte">

  <fieldset id="login" class="page">
  <legend>Connectez-vous</legend>
    <form id="createAccount" method="post" action="">
      <img src="/images/icone_swap.png" alt="logo swap-live">
      <input type="submit" value="Connexion">
      <input type="submit" value="Créer un compte">
    </form>
  </fieldset>
</div>

<div id="conversations" class="page"></div>

<script src="/javascript/app.js"></script>

{% endblock %}