{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <label for="nom"> Nom: </label>
<h2>Formulaire</h2>

<form>

    <fieldset>
        <legend>information personnel:</legend>
<img src="avatar.jpeg">
    
        <br>
  nom:<br>
  
  <input type="text" name="nom" value="">
  <br>
  prénom:<br>
  <input type="text" name="prénom" value="">
  <br><br>
  Email:<br>
  <input type="text" age="" value="">
  <br>
  password:<br>
  <input type="password" name="mot de passe" value="">

</fieldset>
</form>
 
<button>valider</button>

<div>

    


  



{% endblock %}
