{% extends 'layout.twig' %}

{% block body %}
<h1>Discussion</h1>
<section id="messages"></section> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<form id="newMsg">
<<<<<<< Updated upstream
    {# <i class="far fa-file"></i>
    <i class="fas fa-camera"></i> #}
    <textarea  row="900" cols="50" name="msg"></textarea>
    
    <br>
    <br>


    <input class="message_submit" type="submit" value="Envoyer">
=======
    <i class="far fa-file"></i>
    <i class="fas fa-camera"></i>
    <textarea id="ax" row="900" cols="50" name="msg"></textarea>
    <input type="submit" value="Envoyer">
>>>>>>> Stashed changes
</form>
{% endblock %}