{% extends 'layout.twig' %}

{% block body %}
    <h1>Discussion</h1>
    <section id="messages"></section>

    <form id="newMsg">

        <textarea cols="50" name="msg" row="900"></textarea>

        <br>
        <br>

        <input class="message_submit" type="submit" value="Envoyer">
    </form>
{% endblock %}
