.avatars {
    flex-direction:row;
    text-align: center;
}
.radioButton {
    width: 7.3%;
}
.radioButton input[type=radio]{
    display:none;
}
.radioButton input[type=radio] + img {
    border:transparent 2px solid;
    opacity: 0.5;
    width: 100%;
}
.radioButton input[type=radio]:checked + img {
    border:green 2px solid;
    opacity: 1;
}
        